/* --yt-spec-white-1: #fff;
    --yt-spec-white-2: #f9f9f9;
    --yt-spec-white-3: #f1f1f1;
    --yt-spec-white-4: #e9e9e9;
    --yt-spec-black-1: #282828;
    --yt-spec-black-2: #1f1f1f;
    --yt-spec-black-3: #161616;
    --yt-spec-black-4: #0d0d0d;
    --yt-spec-black-pure: #000;
    --yt-spec-grey-1: #ccc;
    --yt-spec-grey-2: #aaa;
    --yt-spec-grey-3: #909090;
    --yt-spec-grey-4: #717171;
    --yt-spec-grey-5: #606060;
    --yt-brand-youtube-red: #f00;
    --yt-brand-medium-red: #c00;
    --yt-brand-light-red: #ff4e45;
    --yt-spec-red-30: #ff8983;
    --yt-spec-red-70: #990412;
    --yt-spec-pale-blue: #f2f8ff;
    --yt-spec-light-blue: #3ea6ff;
    --yt-spec-dark-blue: #065fd4;
    --yt-spec-navy-blue: #252a3a;
    --yt-spec-light-green: #2ba640;
    --yt-spec-dark-green: #107516;
    --yt-spec-yellow: #fbc02d;
    --yt-spec-black-pure-alpha-5: rgba(0, 0, 0, 0.05);
    --yt-spec-black-pure-alpha-10: rgba(0, 0, 0, 0.1);
    --yt-spec-black-pure-alpha-15: rgba(0, 0, 0, 0.15);
    --yt-spec-black-pure-alpha-30: rgba(0, 0, 0, 0.3);
    --yt-spec-black-pure-alpha-60: rgba(0, 0, 0, 0.6);
    --yt-spec-black-pure-alpha-80: rgba(0, 0, 0, 0.8);
    --yt-spec-black-1-alpha-98: rgba(40, 40, 40, 0.98);
    --yt-spec-black-1-alpha-95: rgba(40, 40, 40, 0.95);
    --yt-spec-white-1-alpha-10: rgba(255, 255, 255, 0.1);
    --yt-spec-white-1-alpha-20: rgba(255, 255, 255, 0.2);
    --yt-spec-white-1-alpha-25: rgba(255, 255, 255, 0.25);
    --yt-spec-white-1-alpha-30: rgba(255, 255, 255, 0.3);
    --yt-spec-white-1-alpha-70: rgba(255, 255, 255, 0.7);
    --yt-spec-white-1-alpha-95: rgba(255, 255, 255, 0.95);
    --yt-spec-white-1-alpha-98: rgba(255, 255, 255, 0.98);
    --yt-brand-medium-red-alpha-90: rgba(204, 0, 0, 0.9);
    --yt-brand-medium-red-alpha-30: rgba(204, 0, 0, 0.3);
    --yt-brand-light-red-alpha-30: rgba(255, 78, 69, 0.3);
    --yt-spec-light-blue-alpha-30: rgba(62, 166, 255, 0.3);
    --yt-spec-dark-blue-alpha-30: rgba(6, 95, 212, 0.3); */

*,
*::before,
*::after {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0d0d0d;
}
html {
  background: #f1f1f1;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 56;
  background: #f1f1f1;
  padding: 0;
  margin: 0;
  height: 70px;
}
.header nav {
  display: flex;
  align-items: center;
}
.left-side {
  display: flex;
  align-items: center;

  flex: 1;
}
.left-side i {
  font-size: 32px;
  margin: 0 20px;
  justify-content: flex-start;
}
.tab-icon {
  margin-left: 30px;
  cursor: pointer;
}
.middle-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.search-box {
  min-width: 400px;
  padding: 15px;
  width: 100%;
  border: 1px solid rgba(68, 61, 61, 0.2);
  outline: none;
}
.search-box::placeholder {
  font-size: 16px;
}
.search-box:active,
.search-box:hover {
  border: 1px solid rgba(105, 19, 19, 0.5);
}
.middle-side button {
  min-width: 70px;
  padding: 9.5px;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid rgba(68, 61, 61, 0.2);
}
.search-icon {
  font-size: 24px;
}
.right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.video_call {
  font-size: 32px;
  margin-right: 20px;
  cursor: pointer;
}
.apps {
  font-size: 32px;
  margin-right: 20px;
  cursor: pointer;
}
.notification {
  font-size: 32px;
  font-weight: 100;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.notification span {
  font-size: 12px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: rgba(204, 0, 0, 0.9);
  color: white;
  font-weight: 500;
  padding: 2px;
  margin: 0;
  position: absolute;
  top: 1px;
  left: 18px;
}
.avatar {
  vertical-align: middle;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 40px;
  cursor: pointer;
}

.youtube-icon {
  height: 80px;
  width: auto;
  cursor: pointer;
}
.container {
  display: flex;
  min-height: 100vh;
}
.player-container {
  flex: 3;
  margin: 100px 20px 20px 60px;
  width: 100%;
  
}
.frame-video{
  width: 100%;
  height: 65vh;
}
iframe {
  margin-bottom: 5px;
}
.video-footer {
  height: 100px;
  width: 760px;
}
.list-container {
  height: 100vh;
  width: 300vw;
  margin-top: 100px;
  margin-right: 30px;

}
.top-buttons button {
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  overflow: hidden;
  border: 1px solid rgba(68, 61, 61, 0.2);
}

.list-item {
  display: flex;
}
.list-item iframe {
  margin: 10px;
}
.list-desc {
  margin: 10px;
  font-size: 12px;
}
.list-desc .list-title {
  font-size: 14px;
  font-weight: 600;
}
.list-account-name {
  margin-top: 10px;
  margin-bottom: 7.5px;
}
.account-verify {
  width: 16px;
  height: 16px;
  fill: rgba(68, 61, 61, 0.2);
}
.views_date {
  display: flex;
}

.views span {
  margin: 5px;
  font-weight: 600;
  align-self: center;
}

.footer-details {
  display: flex;
}
.details {
  display: flex;
}
.share-icons {
  height: 24px;
  width: auto;
}
.footer-btn-grp {
  display: flex;
}
.footer-btn-grp div {
  display: flex;
  padding-right: 20px;
}
.footer-btn-grp div h4 {
  padding-left: 10px;
}
.footer-title {
  margin-bottom: 20px;
}

.desc-box {
  height: 150px;
}
.details span {
  padding: 0 10px;
}
.subscribe-btn {
  padding: 10px;
  min-width: 120px;
  background: rgba(204, 0, 0, 0.9);
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.show-more-btn {
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
hr {
  height: 1px;
  background-color: rgba(68, 61, 61, 0.2);
  border: none;
}
.list-account-name {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 15px 0;
}
.list-account-name .avatar {
  margin-right: 15px;
}
.list-account-name .h4 {
  margin: 0;
  display: block;
}
.account-info {
  display: flex;
}
.video-desc {
  margin-left: 50px;
}
.video-desc p {
  padding-bottom: 20px;
}
.comment-box-heading {
  height: 100px;
  display: flex;
  padding: 10px 0 10px 0;
  flex-direction: column;
}
.comment-box-heading .avatar {
  margin-right: 15px;
}
.comment-area {
  display: flex;
  padding-top: 20px;
}
.comment-input {
  flex-grow: 1;
  align-self: self-start;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(68, 61, 61, 0.6);
  outline: none;
  height: 2.5rem;
  font-size: 14px;
}
.comment-input:hover,
.comment-input:active {
  border-bottom: 2px solid #0d0d0d;
}
.sortby-btn {
  height: 18px;
  width: auto;
}
.comment-top-btn {
  display: flex;
}
.comment-top-btn h4 {
  margin: 0 15px 0 15px;
}

.comment-top-btn {
  margin-top: 0;
  align-self: flex-start;
  text-decoration: none;
  font-weight: 600;
}
.comment-box {
  display: flex;
  margin: 15px 0 15px 0;
}
.comment-box-content {
  display: flex;
  flex-direction: column;
}
.comment-footer-btn {
  display: flex;
  padding: 10px 0 10px 0;
}
.comment-footer-btn div {
  display: flex;
}
.comment-footer-btn div h4 {
 margin-right: 15px;
}
.comment-para {
  margin: 10px 0 10px 0;
  text-align: justify;
  line-height: 1.5;
  font-size: 14px;
}
.comment-box .avatar {
  margin-right: 15px;
}
.reply-btn{
  border: none ;
  font-weight: 600;
}
.top-buttons .black-btn{
  background: #000;
  border: none;
  color: #fff;
}

@media only screen and (max-width: 650px) {
  .container{
    flex-direction: column;
  }
  
  .player-container{
    width: 100vw;
    overflow: hidden;
    margin: 30px 20px 20px 30px;
  }
  .list-container{
    width: 100%;   
    margin: 30px 20px 30px 20px;
  }
  
  .frame-video{
    width: 100vw;
    height: 65vh;
  }
  
}